*{margin:0;padding:0;font-size:18px;}
input[type=text],select,input[type=date],input[type=time],textarea{width:200px;padding:5px 0;margin:0 10px;border:1px solid #d1d7e6;border-radius:0.5em;}
select{width:202px;height:33px;}
label{margin:0 10px;}
textarea{resize: none;}
input[type=date],input[type=time]{width:150px;padding:5px;}
input[type=text].addinput,input[type=date].addinput{width:80%;margin:0;padding:5px;}
button.btn{margin:15px;font-size:20px;line-height:35px;width:150px;}
button.btn img{vertical-align:text-bottom;width:25px;height:25px;}
button.btn-small{width:60px;}
button.btn-small img{width:35px;height:35px;}
p.Left{text-align:left;}
.red{color:#dd1144;}
/*<!--导航-->*/
.left{position:fixed;top:0;left:0;bottom:0;width:7em;background:#364860;border-right:0.1em solid #28374e;}
.left .nav{height:100%;float:left;}
.left .nav li{display:block;list-style:none;padding:0.8em 0;background:#364860;width:7em;text-align:center;border-bottom:0.1em solid #28374e;}
.left .nav li span{display:block;color:white;}

/*<!--主页面-->*/
.right{position:absolute;top:0;left:7.1em;right:0;}
#cp .cplist{list-style:none;}
#cp .cplist li{width:17em;height:17em;float:left;margin:1em 1em 0 0;text-align:center;box-shadow:5px 5px 10px #ddd;}
#cp .cplist li img{width:17em;height:17em;}
#cp .cplist li span{display:block;width:17em;line-height:3em;background:rgba(255,255,255,0.7);position:relative;margin-top:-3.25em;}



/*<!--标题-->*/
.title{position:fixed;top:0;width:100%;padding-left:20px;background:-webkit-gradient(linear,0 0,0 100%,from(#6eabd4),to(#497bae));color:#fff;font-size:20px;font-weight:bold;line-height:50px;border-bottom:1px solid #456f9a;}
.content{margin-top:51px;margin-bottom:50px;}

/*<!--产品管理列表-->*/
.list li{list-style:none;line-height:6em;border-bottom:0.1em solid #d9dce6;background:#fff;color:#57657a;}
.list li img{width:10em;height:8em;margin:0.5em;border-radius:1em;vertical-align:middle;}
.list li span{display:inline-block;font-size:20px;line-height:40px;margin-left:20px;vertical-align:middle;}
.list li span font{color:gray;font-size:18px;margin-right:20px;line-height:20px;}
.list .blue{color:#3a87ad;}
.list .red{color:#dd1144;}


/*<!--产品信息-->*/
.cpTable{width:100%;background:#fff;border-collapse:collapse;margin-bottom:20px;}
.cpTable tr th{background:#557cb3;color:#fff;font-size:18px;}
.cpTable tr:nth-child(2n+1){background:#dceafc;}
.cpTable tr td,.cpTable tr th{padding:10px;border:1px solid #a5c1e5;}

/*<!--客户管理-->*/
.box{color:#fff;width:10em;height:10em;border:none;border-radius:1em;float:left;margin:1em 1em 0 0;text-align:center;}
.box img{width:5.5em;height:5.5em;margin-top:1.5em;margin-bottom:0.5em;}
.box span{display:block;line-height:1em;width:10em;background:none;margin-top:0;}
.box1{background:-webkit-gradient(linear,0 0,0 100%,from(#85aadd),to(#43628d));}
.box2{background:-webkit-gradient(linear,0 0,0 100%,from(#ae8cc8),to(#6f4e89));}
.box3{background:-webkit-gradient(linear,0 0,0 100%,from(#5fbedb),to(#1a84a5));}
.box4{background:-webkit-gradient(linear,0 0,0 100%,from(#cbaeee),to(#5c63b4));}
.box5{background:-webkit-gradient(linear,0 0,0 100%,from(#83d1ec),to(#0e86b0));}
.box6{background:-webkit-gradient(linear,0 0,0 100%,from(#d39a73),to(#815334));}
.box7{background:-webkit-gradient(linear,0 0,0 100%,from(#bcf69c),to(#69a449));}
.box8{background:-webkit-gradient(linear,0 0,0 100%,from(#81afd3),to(#3d6686));}
.box9{background:-webkit-gradient(linear,0 0,0 100%,from(#f77d82),to(#ce2a31));}
.box10{background:-webkit-gradient(linear,0 0,0 100%,from(#547bb2),to(#456190));}
.box11{background:-webkit-gradient(linear,0 0,0 100%,from(#ffc6dc),to(#b95579));}
.box12{background:-webkit-gradient(linear,0 0,0 100%,from(#8aebf0),to(#43adb2));}

.content p{line-height:60px;text-align:center;}
.content .Left{text-align:left;}
input[type=button].tab{width:10em;height:4em;margin:0 15px 15px 0;background:-webkit-gradient(linear,0 0,0 100%,from(#c0d5f0),to(#5790d5));border-radius:0.8em;color:#fff;border:1px solid #5790d5;}

/*<!--我的首页-->*/
.map{background:#ddd;width:100%;height:25em;}

/*<!--按钮组-->*/
.buttons{position:fixed;bottom:0;border-top:1px solid #c0d9f7;padding-left:20px;background:#f6f9fe;width:100%;height:80px;line-height:80px;}
input[type=button]{margin:0 10px;}
/*<!--搜索-->*/
.buttons input[type=text]{width:285px;padding:5px 0 5px 15px;margin:0 10px;background:#eef1f8;background-image:url(../images/search.png);background-repeat:no-repeat;background-position:center right;border:1px solid #d1d7e6;border-radius:1em;}
.buttons input[type=text]:focus{background:#fff;}


.label{border-radius: 3px;padding: 2px 4px;font-weight: bold;line-height: 14px;color: #fff;background-color: #999;}
.label-success{background-color: #468847;}
.label-important{background-color: #b94a48;}
.label-warning {background-color: #f89406;}
.label-inverse{background-color: #333;}