.dvTab
{
font-family: 'Microsoft Yahei',verdana;
font-size:14px;
height: 36px;
position: absolute;
width:98%;
margin-top:5px;
}
.com-tab
{
color: rgb(106, 106, 106);
}
.tab
{
list-style-type:none;
float:left;
margin-right: -1px;
border:solid 1px #B9C4CF;
width:7%;
background: -moz-linear-gradient(center top , rgb(254, 255, 255), rgb(218, 232, 246)) repeat scroll 0% 0% transparent;
background-color:#EBF3FA;
height:23px;
line-height:23px;
text-align: center;
padding: 5px 5px 4px 8px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
text-overflow: ellipsis;
}
.disable{ background-color:#CCC; color:#666;}
.tab a
{
	display:block;
	width:100%;
	height:23px;
	line-height:23px;
	text-decoration:none;
	}
.dv
{
width: 100%;*width:98%;
height:4px;
line-height:4px;
background-color:#135AA4;
position:absolute;
left:0;
top:33px;
}
.activeTab
{
color:#fff;
border-color:#135AA4;
background-color:#135AA4;
background: -moz-linear-gradient(center top , rgb(25, 111, 198), rgb(19, 91, 165)) repeat scroll 0% 0% transparent;
}
.activeTab a
{
color:#fff;	
dispaly:block;
width:100%;
height:23px;
text-decoration:none;
}
.activeTab a:hover
{
text-decoration:none;
}
.tabplace{ height:34px; line-height:39px; margin:15px 15px 0 13px; }